

.mixture{
    background: transparent;
}
@media (max-width: 1040px){
    header{
        padding: 12px 20px;
    }
    section{
        padding: 100px 20px;
    }
    .home .media-icons{
        right: 15px;
    }
    header .navigation {
        display: none;
    }
    header .navigation.active{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(51, 51, 51, 0.5);
    }
    header .navigation.active .navigation-items{
        /* background: #fff; */
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }
    header .navigation .navigation-items a{
        color: #222;
        font-size: 1.2rem;
        margin: 20px; 
    }
    header .navigation .navigation-items a:before{
        background: #222;
        height: 5px;
        
    }
    .menu-btn{
        background: url("../images/menu.png") no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
        /* padding: absolute; */
    }
    .menu-btn.active{
        z-index: 999;
        background: url("../images/close.png") no-repeat no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
    }
}
